extends layout

block content
  script(src="/javascripts/refresh-items.js")

  main: section#index
    h1 Drive Uploader
    form(method="post")
      label File URL
      input(type="text" name="url" placeholder="Enter a file url" required)
      button.btn(type="submit" style="background: #e1f5fe") Download

    .control-area
      button.btn(onclick="location.href = '/auth/logout'" style="background: #1976d2; color: white") Renew Login
      div(style="display: inline-block")
        label(style="padding: 10px 20px")
          input(type="checkbox" checked oninput="autoRefresh()")
          span Auto Refresh
        button.btn(onclick="refreshItems()" style="background: #e0e0e0") Refresh

    table
      tr
        th(width="300px") File
        th Status
        th(width="180px") Actions
      tbody#table-body
        each item in items
          tr
            td: a(href=item.url target="_blank")= item.name
            if item.finished && item.driveUrl
              td: a(href=item.driveUrl target="_blank") Open in drive
            else
              td= item.status
            td(style="text-align: center")
              if item.finished
                button.btn.btn-sm(style="background: #eee" onclick=`restartItem("${item.url}")`) Restart
              else
                button.btn.btn-sm(style="background: #fff9c4" onclick=`stopItem("${item.url}")`) Stop
              button.btn.btn-sm(style="background: #d32f2f; color: white" onclick=`removeItem("${item.url}")`) Remove
        if !items.length
          tr
            td(colspan="10" style="text-align: center")
              code(style="color: grey") No files found
